<html>
    <head>
       <title>Single Article</title> 
    </head>
    <body>
        <h2>Single Article view</h2>
       <h3> <%= request.article.title%></h3>
       <p> <%= request.article.content %></p>
    </body>
</html>